.App {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  block-size: auto;
}

.Header {
  text-align: left;
}

.Blocktext {
  text-align: right;
}

.App-header {
  text-align: center;
}
